<div class="homepage">
  <h1>Welcome to Mobile Admin Dashboard</h1>
  <p>This is your Rails 8 application homepage.</p>
  <div class="links">
    <%= link_to 'View Users', users_path, class: 'btn btn-primary' %>
  </div>
</div>
