.users-index {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.users-index h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px lightgray;
}

.users-index ul {
    list-style-type: none;
    padding: 0;
}

.user-list {
    margin: 8px 0;
}

.user-avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f3f3f3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    overflow: visible;
    position: relative;
}

.user-avatar .material-symbols-rounded.placeholder-avatar {
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    user-select: none;
    border-radius: 50%;
}

.user-info {
    grid-column: 2 / 3;
}

.user-info .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0090ab;
}

.user-info .user-username {
    font-size: .8rem;
    color: gray;
    margin-top: -16px;
}

.user-actions {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 16px;
}

.user-actions a {
    text-decoration: none;
    color: #0090ab;
    background-color: none;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-actions a:hover {
    transform: scale(1.1);
}

/* Make delete button hover red */
.user-actions a.btn-danger:hover {
    color: red;
    transform: scale(1.1);
}

.btn-new-user {
    display: block;
    padding: 8px 12px;
    width: 24px;
    align-self: center;
    background-color: #0090ab;
    color: white;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-new-user:hover {
    background-color: #007891;
    transform: scale(1.1);
}